@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url(./images/undraw_filter_re_sa16.svg) no-repeat right;
}

h1 {
  font-size: 50px;
  margin: 3.5rem;
  color: #525252;
}

h3 {
  font-size: 28px;
  color: #ffffff;
}

.container {
  width: 75%;
  min-width: 700px;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  flex: 1;
}

.players {
  background-color: #f7f7f7;
  width: 560px;
  box-shadow: 1px 0.5px 15px #e2e2e2;
  height: 400px;
}

.aside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.3rem;
  width: 100%;
  height: 80px;
  background-color: #6C63FF;
}

.refresh-btn {
  border: none;
  background-color: transparent;
}

.fa-sync-alt {
  color: #6C63FF;
  font-size: 30px;
  background-color: #ffffff;
  padding: 7px;
  border-radius: 50%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px #e2e2e2;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #6C63FF;
}

.clm-score {
  height: 300px;
  overflow-y: scroll;
}

.clm-score li {
  width: 100%;
  height: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  color: #525252;
}

.clm-score li > p {
  margin-right: 20px;
}

.clm-score li:nth-child(even) {
  background-color: #f3f3f3;
}

.clm-score li:nth-child(odd) {
  background-color: #ffffff;
}

.score-form h3 {
  color: #525252;
}

.score-form form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.score-form form input {
  width: 250px;
  height: 40px;
  margin-top: 1.2rem;
  padding: 10px;
  border: none;
  outline: none;
  background-color: transparent;
}

.score-input,
.user-input {
  width: 320px;
  border-bottom: 4px solid#6C63FF;
  padding-bottom: 0.3rem;
}

.fa-crown,
.fa-user {
  color: #6C63FF;
  font-size: 23px;
}

::placeholder {
  font-size: 16px;
  color: #525252b7;
}

.button {
  width: 150px;
  height: 43px;
  margin-top: 30px;
  background-color: #6C63FF;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  color: #ffffff;
}
